body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

iframe {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-width: 0px;
}
.content-div {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
